{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }} {# Сохранит <div id="root"></div> из base.html.twig #}

    
        <div class="">
            <!-- Контейнер для рендеринга React -->
            <div id="react-plats-container" data-category-id="{{ categoryId }}"></div>
        </div>
    
{% endblock %}
